body {
	font-family: 'Open Sans', Arial;
}

h1 {
	font-weight: normal;
	text-align: center;
}

h2 {
	border-bottom: solid #808080 1px;
	font-size: 1.25em;
	padding-bottom: 0.25em;
}

#basicData {
	margin-bottom: 4em;
}

#basicData .row {
	display: flex;
	width: 100%;
}

#basicData .label, #basicData .value {
	margin: 0;
	padding: 0 0.5ex;
	width: 50%;
}

#basicData .label {
	text-align: right;
}

#basicData .label:after {
	content: ':';
}

.history .row {
	display: table-row;
}

.history .dateRange {
	display: table-cell;
	padding-bottom: 1em;
	padding-right: 2ex;
	white-space: nowrap;
}

.history .value {
	padding-bottom: 1em;
}

ul {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 1em;
	width: 100%;
}

ul li {
	width: 33%;
}

footer {
	bottom: 0;
	color: #808080;
	font-size: 0.75em;
	left: 0;
	position: absolute;
	right: 0;
	text-align: center;
}
